SyntaxError: invalid syntax (878522938.py, line 4)

In [ ]:
sk5_14_serial_killers = pd.read_csv('5_to_14_victim_count')

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [8]:
sk5_14_serial_killers

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."
...,...,...,...,...,...,...
159,Michel Peiry,Switzerland\r\nFrance\r\nUnited States\r\nYugo...,1981 to 1987,5,11,"Known as the ""Sadist of Romont""; Swiss soldier..."
160,Hubert Pilčík,Czechoslovakia,1948 to 1951,5,10+,Made money smuggling people across the Czechos...
161,Thomas Dillon,United States,1989 to 1992,5,NaN,Killed outdoorsmen in rural Ohio by sniping th...
162,Joe Metheny,United States,1976 to 1996,5,10,"Butchered his victims, then served them at BBQ..."
163,Sek Kim Wah,Singapore,30 June 1983 to 23 July 1983,5,-,"Sek Kim Wah, who was of Chinese Singaporean de..."

In [9]:
sk5_14_serial_killers.head(10)

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."
5,Arthur Shawcross,United States,1972 to 1989,14,NaN,"Committed arson and burglary, served two years..."
6,The Doodler,United States,1974 to 1975,14,NaN,Unidentified serial killer who sketched then s...
7,Marcelo Costa de Andrade,Brazil,1991,14,NaN,Known as The Vampire of Niterói. Raped and kil...
8,Julio Pérez Silva,Chile,1998 to 2001,14,NaN,Known as The Psychopath from Alto Hospicio; ki...
9,Sergey Shipilov,Russia,1995 to 1999,14,NaN,"Known as the ""Velsk Chikatilo""; killed female ..."

In [10]:
sk5_14_serial_killers.shape

(164, 6)

In [11]:
total_killers=sk5_14_serial_killers.groupby('Country')['Proven victims'].sum()

In [12]:
total_killers

Country
Argentina                                                                                                                                     1311
Australia                                                                                                                                  1110876
Austria\r\nUnited States\r\nCzechoslovakia                                                                                                      11
Bangladesh                                                                                                                                     117
Belarus                                                                                                                                          6
Belgium                                                                                                                                        116
Brazil                                                                                                                                      141311
Canada                                                                                                                                       11888
Canada\r\nUnited States                                                                                                                          7
Chile                                                                                                                                           14
China                                                                                                                                      1111106
China\r\nJapan                                                                                                                               8–11+
Colombia                                                                                                                                        76
Costa Rica                                                                                                                                       6
Cyprus                                                                                                                                           7
Czechoslovakia                                                                                                                                   5
Denmark                                                                                                                                          9
East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)                                                 9–13
France                                                                                                                                     1110987
German Empire\r\nGermany                                                                                                                         9
Germany                                                                                                                                         12
India                                                                                                                                           10
Indonesia                                                                                                                                       11
Italy                                                                                                                                           14
Japan                                                                                                                                        12118
Latvia                                                                                                                                          13
Mexico                                                                                                                                          11
Pakistan                                                                                                                                        14
Poland                                                                                                                                         146
Russia                                                                                                                      1414131313121110109987
Singapore                                                                                                                                        5
South Africa                                                                                                                        13131313101099
South Korea                                                                                                                                   1410
Soviet Union                                                                                                                           14131312107
Soviet Union\r\nRussia                                                                                                                      131211
Soviet Union\r\nRussia\r\nUkraine                                                                                                               10
Spain                                                                                                                                         1211
Spain\r\nFrance (claimed)\r\nItaly (claimed)                                                                                                     7
Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)                                                            5
Thailand\r\nNepal\r\nIndia\r\nMalaysia                                                                                                          12
Tunisia                                                                                                                                         13
Turkey                                                                                                                                        1110
Ukraine                                                                                                                                         11
United Kingdom                                                                                                                              131275
United States                                                                                    1414141313131313131313121212121211–16111111111...
United States\r\n Portuguese Angola                                                                                                              5
West Germany                                                                                                                                  1410
Yemen                                                                                                                                           12
Name: Proven victims, dtype: object

In [13]:
top_5=total_killers.sort_values().head(5)

In [14]:
top_5.plot()

TypeError: no numeric data to plot